@model BAW.ViewModels.BidsHistoryVM
@{
    ViewBag.Title = "BidsHistory";
    Layout = "~/Views/Shared/_BuyerSellerLayout.cshtml";
}




<!--************************************
             Dashboard Banner Start
     *************************************-->
<div class="tg-dashboardbanner">
    <h1>My Bid History</h1>
    
</div>
<!--************************************
        Dashboard Banner End
*************************************-->





<!--************************************
                Main Start
        *************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Section Start
    *************************************-->
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
           
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-dashboardbox">
                            <div class="tg-dashboardboxtitle">
                                <h2>Products</h2>
                               
                                <button  id="first">First Time Bid</button>
                                <button  id="second">Second Time Bid</button>
                            
                            </div>
                            <div class="tg-dashboardholder">
                        
                                <table id="tg-adstype" class="table tg-dashboardtable tg-tablemyads">
                                    <thead>
                                        <tr>

                                            <th>Photo</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                            
                                            <th>Bid Date</th>
                                          

                                          
                                          
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="firstbid">


                                       
                                      @foreach (var item in Model.FirstTimeBid)
                                      {

                                        <tr data-category="active">

                                            <td data-title="Photo"><img src="~/Images/img-02.jpg" alt="image description" style="height:80px;width:120px;margin-left:30px"></td>
                                            <td data-title="Title">
                                                <h3>@item.Product.ProductName</h3>
                                                
                                            </td>
                                            <td data-title="Category"><span class="tg-adcategories">@item.Product.Category.CategoryName</span></td>
                                            <td data-title="Featured">@item.Price</td>
                                            <td data-title="Ad Status"><span class="tg-adstatus tg-adstatusactive">Jun 27</span></td>
                                            
                                           

                                      
                                            
                                          
                                        </tr>
                                      }
                                        

                                 



                                      

                                    </tbody>

                                    <tbody id="secondbid">



                                        @foreach (var item in Model.SecondTimeBid)
                                        {

                                            <tr data-category="active">

                                                <td data-title="Photo"><img src="~/Images/img-02.jpg" alt="image description" style="height:80px;width:120px;margin-left:30px"></td>
                                                <td data-title="Title">
                                                    <h3>@item.Product.ProductName</h3>

                                                </td>
                                                <td data-title="Category"><span class="tg-adcategories">@item.Product.Category.CategoryName</span></td>
                                                <td data-title="Featured">@item.Price</td>
                                                <td data-title="Ad Status"><span class="tg-adstatus tg-adstatusactive">Jun 27</span></td>






                                            </tr>
                                        }



                                    </tbody>


                                </table>
                                <nav class="tg-pagination">
                                    <ul>
                                        <li class="tg-prevpage"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li class="tg-active"><a href="#">5</a></li>
                                        <li>...</li>
                                        <li><a href="#">10</a></li>
                                        <li class="tg-nextpage"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                
        </div>
    </section>
    <!--************************************
            Section End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->





