@model Sokuuhotu.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@





<style>
    #textdiv {
        float: left;
        margin: 0 0 40px;
        background: #fcfcfc;
        border: 1px solid #eaedef;
        height: 323px;
    }

    #logoimg {
        margin-bottom: -60px;
        height: 100px;
        max-width: 100%;
    }
</style>






<body style="background-image:url('images/bidhand.jpg');background-repeat:no-repeat;background-size:100%">
    <div class="container" style="margin-right:0">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--************************************
                Wrapper Start
        *************************************-->
        <div id="tg-wrapper" class="tg-wrapper tg-haslayout" style="margin-right:0;background:none">

            <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="~/Images/Logo.png" id="logoimg" />
                        </div>

                        <div id="tg-content" class="tg-content">
                            <div class="tg-loginsignup" style="float:none">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                                    <div class="tg-logingarea">
                                        <h2>Create Account</h2>


                                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "tg-formtheme tg-formloging", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <fieldset>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "username", placeholder = "Username" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", name = "Password", placeholder = "Password" })
                                                </div>

                                                <div class="form-group">
                                                    <div class="tg-checkbox">
                                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", name = "Confirm Password" })
                                                        @*<input id="tg-rememberme" type="checkbox" name="rememberme" value="rememberme">*@
                                                        <label for="tg-rememberme">Keep me logged in</label>
                                                    </div>
                                                    <a class="tg-forgetpassword" href="javascript:void(0);">Forgot Password?</a>
                                                </div>
                                                @*<button class="tg-btn" type="button">Login</button>*@
                                                <input type="submit" value="Create" class="tg-btn" />


                                            </fieldset>
                                        }
                                       

                                    </div>



                                </div>
                                <!--<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <div class="tg-videobox">
                                        <figure>
                                            <img src="images/placeholder-02.jpg" alt="image description">
                                            <a class="tg-btnplayvideo" href="javascript:void(0);"><i class="icon-play3"></i></a>
                                        </figure>
                                    </div>
                                    <div class="tg-title">
                                        <h2>Register Now</h2>
                                    </div>
                                    <div class="tg-haslayout">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                <form class="tg-formtheme tg-formregister">
                                                    <fieldset>
                                                        <div class="form-group tg-inputwithicon">
                                                            <i class="icon-envelope"></i>
                                                            <input type="email" name="email" class="form-control" placeholder="Email*">
                                                        </div>
                                                        <div class="form-group tg-inputwithicon">
                                                            <i class="icon-lock"></i>
                                                            <input type="password" name="password" class="form-control" placeholder="Password*">
                                                        </div>
                                                        <div class="form-group tg-inputwithicon">
                                                            <i class="icon-lock"></i>
                                                            <input type="password" name="retypepassword" class="form-control" placeholder="Retype Password*">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="tg-checkbox">
                                                                <input id="tg-agree" type="checkbox" name="agree" value="agree">
                                                                <label for="tg-agree">By registering, you accept our <a href="javascript:void(0);">Terms &amp; Conditions</a></label>
                                                            </div>
                                                        </div>
                                                        <button class="tg-btn" type="button">Register</button>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <ul class="tg-sociallogingsignup">
                                                    <li class="tg-googleplus">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-google-plus"></i>
                                                            <span>Sign in with <strong>“Google”</strong></span>
                                                        </a>
                                                    </li>
                                                    <li class="tg-facebook">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-facebook"></i>
                                                            <span>Sign in with <strong>“Google”</strong></span>
                                                        </a>
                                                    </li>
                                                    <li class="tg-linkedin">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-linkedin"></i>
                                                            <span>Sign in with <strong>“Google”</strong></span>
                                                        </a>
                                                    </li>
                                                    <li class="tg-twitter">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-twitter"></i>
                                                            <span>Sign in with <strong>“Google”</strong></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>

                            <div class="hidden-sm col-md-4 col-lg-4" id="textdiv">

                                <div class="tg-texbox">
                                    <p><strong>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</strong></p>
                                    <p>Quis nostrud exercitation ullamcoaris nisiuate aliquip ex ea commodo consequat aute irure dolor atem reprehenderit in esse.</p>
                                    <ul>
                                        <li>Proident sunt in culpa qui officia</li>
                                        <li>Deserunt mollit anim idestorum</li>
                                        <li>Sedutana perspiciatis</li>
                                        <li>Aunde omnis iste natus voluptatem</li>
                                        <li>Cullamcoaris nisiutia aliquip</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--************************************
                    Main End
            *************************************-->
            <!--************************************
                    Footer Start
            *************************************-->
            <!--<footer id="tg-footer" class="tg-footer tg-haslayout">
                <div class="tg-footerbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-1 col-lg-10">
                                <div class="tg-newsletter">
                                    <h2>Signup For Newsletter:</h2>
                                    <form class="tg-formtheme tg-formnewsletter">
                                        <fieldset>
                                            <i class="icon-envelope"></i>
                                            <input type="email" name="email" class="form-control" placeholder="Enter your email here">
                                            <button type="button">Signup Now</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="container">
                    <div class="row">
                        <div class="tg-footerinfo">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
                                <div class="tg-widget tg-widgetsearchbylocations">
                                    <div class="tg-widgettitle">
                                        <h3>Search By Locations:</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <ul>
                                            <li><a href="javascript:void(0);">-  Aberdeen</a></li>
                                            <li><a href="javascript:void(0);">-  Armagh</a></li>
                                            <li><a href="javascript:void(0);">-  Bangor</a></li>
                                            <li><a href="javascript:void(0);">-  Bath</a></li>
                                            <li><a href="javascript:void(0);">-  Belfast</a></li>
                                            <li><a href="javascript:void(0);">-  Birmingham</a></li>
                                            <li><a href="javascript:void(0);">-  Bradford</a></li>
                                            <li><a href="javascript:void(0);">-  Brighton and Hove</a></li>
                                            <li><a href="javascript:void(0);">-  Bristol</a></li>
                                            <li><a href="javascript:void(0);">-  Cambridge</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="javascript:void(0);">-  Canterbury</a></li>
                                            <li><a href="javascript:void(0);">-  Cardiff</a></li>
                                            <li><a href="javascript:void(0);">-  Carlisle</a></li>
                                            <li><a href="javascript:void(0);">-  Chester</a></li>
                                            <li><a href="javascript:void(0);">-  Chichester</a></li>
                                            <li><a href="javascript:void(0);">-  City of London</a></li>
                                            <li><a href="javascript:void(0);">-  Coventry</a></li>
                                            <li><a href="javascript:void(0);">-  Derby</a></li>
                                            <li><a href="javascript:void(0);">-  Dundee</a></li>
                                            <li><a href="javascript:void(0);">View All</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="tg-widget tg-widgettext">
                                    <div class="tg-widgetcontent">
                                        <strong class="tg-logo"><a href="javascript:void(0);"><img src="images/logof.png" alt="image description"></a></strong>
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua anii ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo aute irurel in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                                        </div>
                                        <div class="tg-followus">
                                            <strong>Follow Us:</strong>
                                            <ul class="tg-socialicons">
                                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                                <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                            </ul>
                                            <ul class="tg-appsnav">
                                                <li><a href="javascript:void(0);"><img src="images/apps-01.png" alt="image description"></a></li>
                                                <li><a href="javascript:void(0);"><img src="images/apps-02.png" alt="image description"></a></li>
                                            </ul>
                                        </div>
                                        <nav class="tg-footernav">
                                            <ul>
                                                <li><a href="javascript:void(0);">Listing Policy</a></li>
                                                <li><a href="javascript:void(0);">Terms of Use</a></li>
                                                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                                <li><a href="javascript:void(0);">Mobiles Policy</a></li>
                                                <li><a href="javascript:void(0);">Change Currency</a></li>
                                                <li><a href="javascript:void(0);">Sitemap</a></li>
                                                <li><a href="javascript:void(0);">News</a></li>
                                            </ul>
                                        </nav>
                                        <span class="tg-copyright">2017 All Rights Reserved &copy; Classified PRO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>-->
            <!--************************************
                    Footer End
            *************************************-->
        </div>


    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

