@model Sokuuhotu.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}


<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EBidding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/transitions.css">
    <link rel="stylesheet" href="~/Content/css/flags.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/scrollbar.css">
    <link rel="stylesheet" href="~/Content/css/chartist.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/color.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script src="~/Scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


    <style>
        #textdiv {
            float: left;
            margin: 0 0 40px;
            background: #fcfcfc;
            border: 1px solid #eaedef;
            height: 335px;
        }

        #logoimg {
            margin-bottom: -60px;
            height: 100px;
            max-width: 100%;
        }
    </style>



</head>












<body style="background-image:url('../../Images/bidhand.png');background-repeat:no-repeat;background-size:100%">
    <div class="container" style="margin-right:0">
       
        <div id="tg-wrapper" class="tg-wrapper tg-haslayout" style="margin-right:0;background:none">

            <main id="tg-main" class="tg-main tg-haslayout">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="~/Images/Logo.png" id="logoimg" />
                        </div>

                        <div id="tg-content" class="tg-content">
                            <div class="tg-loginsignup" style="float:none">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                                    <div class="tg-logingarea">
                                        <h2>Create Account</h2>


                                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "tg-formtheme tg-formloging", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <fieldset>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "username", placeholder = "Username" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", name = "Password", placeholder = "Password" })
                                                </div>

                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", name = "Password", placeholder = "Confirm Password" })
                                                </div>

                                                @*<button class="tg-btn" type="button">Login</button>*@
                                                <input type="submit" value="Create" class="btn btn-success" />


                                            </fieldset>
                                        }


                                    </div>



                                </div>
                             
                            </div>

                            <div class="hidden-sm col-md-4 col-lg-4" id="textdiv">

                                <div class="tg-texbox">
                                    <p><strong>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</strong></p>
                                    <p>Quis nostrud exercitation ullamcoaris nisiuate aliquip ex ea commodo consequat aute irure dolor atem reprehenderit in esse.</p>
                                    <ul>
                                        <li>Proident sunt in culpa qui officia</li>
                                        <li>Deserunt mollit anim idestorum</li>
                                        <li>Sedutana perspiciatis</li>
                                        <li>Aunde omnis iste natus voluptatem</li>
                                        <li>Cullamcoaris nisiutia aliquip</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--************************************
                    Main End
            *************************************-->
           
        </div>


    </div>

    <script src="~/Scripts/js/vendor/jquery-library.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/responsivethumbnailgallery.html"></script>
    <script src="~/Scripts/js/jquery.flagstrap.min.js"></script>
    <script src="~/Scripts/js/backgroundstretch.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/jquery.vide.min.js"></script>
    <script src="~/Scripts/js/jquery.collapse.js"></script>
    <script src="~/Scripts/js/scrollbar.min.js"></script>
    <script src="~/Scripts/js/chartist.min.html"></script>
    <script src="~/Scripts/js/prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery-ui.js"></script>
    <script src="~/Scripts/js/countTo.js"></script>
    <script src="~/Scripts/js/appear.js"></script>
    <script src="~/Scripts/js/main.js"></script>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>
